@import url('libs/slick-carousel/slick/slick.css');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');
/*reset*/
@font-face {
	font-family: ProximaNova;
	src: url(fonts/ProximaNova.ttf);
}
@font-face {
	font-family: Scriptina;
	src: url(fonts/Scriptina.ttf);
}
*, :before, :after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	color: #56534c; 	
	font-size: 14px;
	font-family: Alegreya;
	font-weight: 400;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: #f3f1e9;
}
h1, h2, h3, h4, h5, h6 {
	font: inherit;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
	transition: .3s;
}
input {
	appearance: none;
	outline: none;
}
img {
	display: block;
}
.btn {
	position: relative;
	display: flex;
	justify-content: center;
	height: 50px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4.2px;
	color: #ffffff;
	background-color: rgba(86,83,76,0.7);
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	border: 1px dashed #9e9c93;
}
.desc {
	font-family: ProximaNova;
	letter-spacing: 1.4px; 
}
.h2 {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 1.2px;
}
.h3 {
	color: #a47d5e;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.4px;
	text-transform: uppercase; 
}
.case {
	width: 1290px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.header {
	background-color: rgba(86,83,76,0.7);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.header .case {
	align-items: center;
}
.header__logo {
	padding-top: 18px;
	padding-bottom: 8px;
}
.header__nav {
	margin-left: auto;
	margin-right: auto;
}
.header__nav ul {
	display: flex;
}
.header__nav li {
	margin-right: 85px;
	position: relative;
}
.header__nav li:last-of-type {
	margin-right: 0;
}
.header__nav li::after {
	content: "~";
	position: absolute;
	display: block;
	right: -47px;
	top: -1px;
	color: #ffffff;
}
.header__nav li:last-of-type::after {
	display: none;
}
.header__nav a { 
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 4.2px;
	border-bottom: 1px solid transparent ;
}
.header__nav a:hover {
	border-bottom: 1px solid #ffffff;
}
.header__socials {
	align-items: center;
}
.socials__item {
	font-size: 0;
	margin-right: 20px;
}
.socials__item:hover svg path{
	fill: #dfc691;
}
.socials__item svg path{
	transition: .3s;
}
.socials__item:last-of-type {
	margin-right: 0;
	transition: .3s;
}
.socials__item:hover{
	transform: scale(0.95);
}

.intro {
	background-image: url(img/inro-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	color: #ffffff;
	padding-top: 280px;
	padding-bottom: 210px;
	overflow: hidden;
}
.intro__title {
	font-size: 92px;
	letter-spacing: 6.9px;
	font-weight: 700;
	text-align: center;
	position: relative;
	padding-bottom: 130px;
}
.intro__title::after {
	content: "";
	top: 175px;
	left: 535px;
	background-image: url(img/intro-line.png);
	display: block;
	position: absolute;
	width: 195px;
	height: 12px;
}
.intro__desc {
	width: 544px;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 2.1px;
	text-shadow: 0 1px 0 #3d3029;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 67px;
}
.intro__btn {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	transition: .3s;
}
.intro__btn:hover {
	background-color: #ffffff;
	color: #a47d5e;
	border: 1px solid  #9e9c93;
}



.about {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}
.about::before {
	content: "";
	background-image: url(img/bread-border.png); 
	top: -50px;
	left: 50%;
	position: absolute;
	width: 106px;
	height: 106px;
	transform: translate(-50%);
	width: 108px;
	height: 108px;
}
.about .case {
	justify-content: space-between;
}
.about__info {
	text-align: center;
	width: 485px;
}

.about__desc {
	margin-top: 65px;
	margin-bottom: 40px;
	width: 484px;
	line-height: 24px;
	text-align: center;
}
.chef__info {
	align-items: center;
	justify-content: center;
	padding-bottom: 45px;
}
.chef__title {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.6px;
	padding-bottom: 45px;
}
.chef__name,.chef__surname {
	font-size: 24px;
	letter-spacing: 0.6px;
	border-bottom: 1px solid #d7d5ca;
	border-top: 1px solid #d7d5ca;
	padding-top: 16px;
	padding-bottom: 16px;
	width: 111px;
}
.chef__photo {
	margin-right: 25px;
	margin-left: 25px;
}
.chef__quote {
	font-family: Scriptina;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	color:#a47d5e;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}





.about__pics {
	width: 610px;
	position: relative;
}
.pisc__sticker {
	width: 279px;
	height: 279px;
	background-image: url(img/stiker.png);
	text-transform: uppercase;
	color: #c9b176;
	font-size: 30px;
	text-align: center;
	padding: 0 45px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin-top: -10px;
} 
.pics__list {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -20px;
}
.pics__item {
	width: 295px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.pics__item img {
	outline: 5px solid #ffffff;
	outline-offset: -10px;
}
.pics__item:nth-of-type(2n) {
	margin-right: 0;
}


.menu {
	background-image: url(img/menu-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 95px;
	padding-bottom: 105px;
	position: relative; 
}
.menu .case {
	position: relative;
}
.menu::before { /* Opacity for background */
	content: "";
	background-color: rgba(83,80,69, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.menu__block {
	width: 965px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 85px;
}
.menu__pic {
	position: relative;
	width: 420px;
}
.menu__pic img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.menu__pic::after { /* Triangle in the botom of picture */
	content: "";
	bottom: 0;
	left: 0;
	border-width: 0 50px 50px 0;
	border-color: transparent #FFFFFF transparent transparent;
	border-style: solid;
	position: absolute; 
}
.menu__info {
	width: calc(100% - 420px);
	background-color: #ffffff; 
	padding-left: 60px;
	padding-top: 70px;
	position: relative;
	box-shadow: 5px 1px 14px 0px rgba(50, 50, 50, 0.29);
}
.menu__info::after {
	content: "";
	background-image: url(img/pancakes-mill.png);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 261px;
	height: 294px;
}
.menu__desc {
	width: 400px;
	padding-top: 60px;
	line-height: 24px;
}
.menu__ready {
	top: 0px ;
	right: 65px;
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #ffffff;
	text-align: center;
	box-shadow: 4px 5px 15px 0px rgba(50, 50, 50, 0.61);
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border: 1px dashed #9e9c93; */
}
.ready__title {
	color: #a47d5e;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.ready__numb {
	color: #dfc691;
	font-size: 92px;
	font-weight: 700;
	line-height: 92px;
}
.ready__min {
	color: #979285;
	letter-spacing: 1.8px;
	font-weight: 700;
}

.menu__nav{
	position: absolute;
	bottom: 40px;
	left: 630px;
	width: 450px;
	padding-left: 57px;
	padding-right: 57px;
	font-size: 0;

}
.menu__nav .slick-slide {
	margin-left: 16px;
	margin-right: 16px;
	cursor: pointer;
	outline: none;
}
.menu__nav .slick-arrow{
	position: absolute;
	top: 50%;
	margin-top: -16px;
	background: none;
	transition: .3s;
	border: none;
	font-size: 0;
	width: 32px;
	height: 32px;
	outline: none;
	cursor: pointer;
}
.menu__nav .slick-arrow:hover:before{
	opacity: 0;
}
.menu__nav .slick-arrow:hover:after{
	opacity: 1;
}
.menu__nav .slick-arrow:before,.menu__nav .slick-arrow:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: .3s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px 32px;
}
.menu__nav .slick-arrow:before{
	background-image: url(img/arrow-gray.svg);
}
.menu__nav .slick-arrow:after{
	opacity: 0;
	background-image: url(img/arrow-gold.svg);
}
.menu__nav .slick-arrow.slick-prev{
	left: 0;
	transform: rotate(180deg) translateZ(0px);
}
.menu__nav .slick-arrow.slick-next{
	right: 0;
	
}




.breakfast {
	background-image: url(img/breakfast-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 89px;
	padding-bottom: 70px;
	position: relative;
	z-index: 1;
}
.breakfast .case {
	justify-content: space-around;
}
.breakfast__info {
	width: 310px;
	text-align: center;
}
.breakfast__title{
	color: #ffffff; 
	letter-spacing: 3px;
}
.breakfast__slogan {
	color: #c8a593;
}

.breakfast__item {
	padding-top: 60px;
}
.b-item__title {
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1.5px;
}
.b-item__desc {
	color: #c2beba;
	letter-spacing: 0.8px;
	font-size: 16px;
	line-height: 30px;
}
.b-item__price {
	color: #dfc691;
	font-size: 36px;
	letter-spacing: 1.8px;
}
.menu__page { 
	width: 440px;
	background-color: #f3f1e9;
	text-align: center;
	padding-top: 54px;
	padding-bottom: 65px;
	padding-right: 35px;
	padding-left: 35px;
	outline: 2px dashed #9e9c93;
	outline-offset: -10px;
	position: relative;
	box-shadow: 5px -4px 15px 0px rgba(50, 50, 50, 0.66);
}
.menu__page::before {
	content: "";
	background-color: #e0d6c7 ;
	right: -13px;
	top: 28px;
	width: 150px;
	height: 548px;
	position: absolute;
	outline: 2px dashed #9e9c93;
	outline-offset: -9px;
	z-index: -1;
	box-shadow: 5px -4px 15px 0px rgba(50, 50, 50, 0.66);
}
.menu__page::after {
	content: "";
	background-color:#d5d3cb;
	right: -26px;
	top: 50px;
	height: 501px;
	width: 150px;
	position: absolute;
	outline: 2px dashed #9e9c93;
	outline-offset: -9px;
	z-index: -2;
	box-shadow: 5px -4px 15px 0px rgba(50, 50, 50, 0.66);
}
.page__date {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	justify-content: space-around;
	padding-bottom: 20px;
}
.page__title {
	font-size: 44px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 1.1px;
	padding-bottom: 40px;
	padding-top: 70px;
}
.page__desc {
	line-height: 30px;
	letter-spacing: 0.7px;
	padding-bottom: 50px;
}
.page__btn {
	width: 190px;
	color: #a47d5e;
	background-color: #f3f1e9;
	border: 1px solid #9e9c93;
	margin-left: auto;
	margin-right: auto;
	transition: .3s;
}
.page__btn:hover {
	color: #ffffff;
	background-color: #a47d5e;
	font-weight: 400;
	border: 1px solid #9e9c93;
}



.sandwich {
	padding-top: 100px;
	text-align: center;
}
.sandwich__title {
	position: relative;
	z-index: 1;
}
.sandwich__title::before {
	content: "";
	position: absolute;
	top: -95px;
	left: 580px;
	width: 108px;
	height: 123px;
	background-image: url(img/mill.png);
	z-index: -1;
}
.sandwich__ingr {
	margin-right: auto;
}
.ingr__item {
	width: 290px;
	margin-bottom: 57px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ingr__item:last-of-type {
	margin-bottom: 0;
}
.ingr__title {
	color: #a47d5e;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.45px;
	margin-bottom: 15px;
	padding-top: 10px;
}
.sandwich__block {
	position: relative;
	align-items: center;
}
.sandwich__timing {
	background-color: #f3f1e9;
	opacity: 0.8;
	position: absolute;
	top: 73px;
	right: 0;
	bottom: 0; 
}
.timing__item {
	width: 200px;
	height: 187px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid #9e9c93;
}
.timing__item:last-of-type {
	border-bottom: none;
}
.timing__title {
	color: #a47d5e;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.timing__numb {
	color: #56534c;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 6px;
}
.timing__min {
	color: #979285;
	letter-spacing: 1.8px;
}



.footer {
	padding-bottom: 70px;
	padding-top: 110px;
}
.footer .case {
	justify-content: center;
	align-items: center;
}
.f-nav ul {
	display: flex;
	text-transform: uppercase;
	letter-spacing: 4.2px; 
	border-bottom: 1px solid #c2beba; 
	border-top: 1px solid #c2beba;
	padding: 25px 35px;
}
.f-nav li {
	position: relative;
	margin-right: 85px;
}
.f-nav li:last-of-type {
	margin-right: 0;
}
.f-nav li::after {
	content: "~";
	position: absolute;
	display: block;
	right: -47px;
	top: -1px;
	color: #56534c;
}
.f-nav li:last-of-type::after {
	display: none;
}
.f-nav a{
	color: #56534c;
	font-weight: 700;
}
.f-nav a:hover {
	color: #a47d5e;
}
.footer__logo {
	margin-right: 45px;
	margin-left: 45px;
}
/* FRONT-END BY BANANAZBRAIN: bananazbrain.ru */